
#avatar {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: #CCCCCC; /* Màu viền */
    -fx-border-width: 2px; /* Độ dày viền */
}

.panel{
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-border-radius: 5px;
    -fx-background-radius: 9px;
}


