.Panel1 {
    -fx-background-color: linear-gradient(to bottom, #FF4081, #9C27B0); /* Gradient từ màu hồng đậm đến màu tím */
}

.Panel {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5)); /* Gradient từ trắng có độ trong suốt 0.1 đến màu đen nhạt */
}


.Panel2 {
    -fx-background-color: linear-gradient(to bottom,#9C27B0, #210D4B); /* Gradient từ màu nhạt ở phía trên đến màu đậm ở phía dưới */
    -fx-background-image: radial-gradient(center 50% -10%, radius 100%, #FFFFFF 50%, transparent 80%), radial-gradient(center 50% -40%, radius 100%, #FFFFFF 50%, transparent 80%);
    -fx-background-repeat: no-repeat;
}



#avatar {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: #CCCCCC; /* Màu viền */
    -fx-border-width: 2px; /* Độ dày viền */
}

.panel3{
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-border-radius: 5px;
    -fx-background-radius: 9px;
}

